* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);

}
html {
    height: 100%;
}

body {
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -webkit-user-select: none;
    background-color: #E4E4E4;
    background-image: linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image: -webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image: -ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image: -webkit-gradient( linear, left top, left bottom, color-stop(0, #A7A7A7), color-stop(0.51, #E4E4E4) );
    background-attachment: fixed;
    font-family: 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size: 12px;
    height: 100%;
    margin: 0px;
    padding: 0px;
    text-transform: uppercase;
    width: 100%;
    height: 100%;
    background-color: #32383d;
    font-family: 'RobotoRegular', 'Droid Sans', 'Segoe UI', Segoe, 'San Francisco', 'Helvetica Neue', Helvetica, Arial, Geneva, sans-serif;
    font-size: 12px;
}

.app {
    background: url(../images/cordova.png) no-repeat center top; 
    position: absolute;             
    left: 50%;
    top: 50%;
    height: 50px;                  
    width: 225px;                   
    text-align: center;
    padding: 180px 0px 0px 0px;     
    margin: -115px 0px 0px -112px;
}

@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;
        margin:-90px 0px 0px -198px;
    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

.container {
    width: 200px;
    height: 200px;
    position: relative;
    perspective: 1000px;
}

section, footer, nav {
    display: block;
}

body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    -webkit-text-size-adjust: none;
    color: #333;
    max-width: 720px;
    margin: 0 auto;
    padding: 10px;
}

a {
    color: blue;
    color: hsl( 220, 90%, 40% );
    text-decoration: none;
}

    a:hover {
        background-color: blue;
        background-color: hsl( 220, 90%, 50% );
        color: white;
    }

#options {
    position: relative;
    z-index: 100;
    margin-bottom: 40px;
}

button {
    font-size: 16px;
    -webkit-appearance: push-button;
}

footer {
    border-top: 1px solid #CCC;
    font-size: 0.8em;
    position: relative;
    z-index: 100;
}

#disclaimer {
    color: red;
    font-weight: bold;
    display: none;
}

.no-csstransforms3d #disclaimer {
    display: block;
}

hr {
    border: none;
    border-top: 1px solid #CCC;
}

figure {
    margin: 0;
}

code {
    font-family: 'Monaco', 'Menlo', monospace;
}

/* index navigation */

.index nav ul {
    list-style: none;
    margin: 0 0 3.0em 0;
    padding: 0;
}

    .index nav ul a {
        display: block;
        font-size: 18px;
        font-weight: bold;
        line-height: 24px;
        padding: 10px;
        border: 1px solid #CCC;
        border-bottom: none;
    }

    .index nav ul li:first-child a {
        border-radius: 10px 10px 0 0;
    }

    .index nav ul li:last-child a {
        border-radius: 0 0 10px 10px;
        border-bottom: 1px solid #CCC;
    }

/**** Docs ****/

body.doc {
    max-width: 900px;
}

.doc #content {
    font-size: 14px;
    line-height: 1.5em;
}

    .doc #content blockquote {
        margin-left: 0;
        padding: 0.8em;
        background: #EEE;
        background: hsla( 0, 0%, 0%, 0.04 );
    }

    .doc #content img {
        border: 1px solid #CCC;
        display: inline-block;
    }

    .doc #content pre {
        font-size: 12px;
        line-height: 1.5em;
    }

.doc nav h1 {
    font-size: 20px;
}

.doc nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.doc nav li a {
    display: block;
    padding: 0.3em 0;
}

.doc nav li.current a {
    font-weight: bold;
    color: #333;
}

    .doc nav li.current a:hover {
        color: white;
    }



@media screen and (min-width: 768px) {

    body.doc #content {
        padding-left: 220px;
    }

    .doc #doc-nav-wrapper {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
    }

    .doc .doc-nav-positioner {
        max-width: 900px;
        margin: 0 auto;
        position: relative;
    }

    .doc nav {
        width: 200px;
        font-size: 14px;
        position: absolute;
        top: 10px;
        left: 10px;
    }

        .doc nav h1 {
            margin-top: 0;
        }
}

/* proxy range */

.proxy-range {
    display: inline-block;
    position: relative;
    height: 30px;
    width: 200px;
    border: 1px solid hsla( 0, 0%, 0%, 0.15 );
    background-color: hsla( 0, 0%, 0%, 0.02 );
    border-radius: 15px;
    box-shadow: inset 0 1px 7px hsla( 0, 0%, 0%, 0.3 );
}

    .proxy-range.highlighted {
        background-color: hsla( 220, 90%, 50%, 0.15 );
    }

    .proxy-range .handle {
        width: 38px;
        height: 38px;
        border-radius: 20px;
        border: 1px solid hsla(0, 0%, 0%, 0.3);
        position: absolute;
        top: -5px;
        left: -20px;
        background-color: hsla( 220, 70%, 60%, 1.0 );
        background-image: -webkit-gradient(radial, center 15%, 0, center 30%, 30, from( hsla( 0, 0%, 100%, 0.6 ) ), color-stop( 50%, hsla( 0, 0%, 100%, 0.0 ) ), color-stop( 50%, hsla( 0, 0%, 0%, 0.0 ) ), to( hsla( 0, 0%, 0%, 0.5 ) ) );
        background-image: -moz-radial-gradient(center 30%, cover, hsla( 0, 0%, 100%, 0.5 ), hsla( 0, 0%, 100%, 0.0 ) 50%, hsla( 0, 0%, 0%, 0.0 ) 50%, hsla( 0, 0%, 0%, 0.5 ) );
        box-shadow: 0 2px 0px -1px hsla( 0, 0%, 100%, 0.7 ) inset, 0 -4px 2px -1px hsla( 0, 0%, 0%, 0.1 ) inset, 0 1px 2px 0px hsla( 0, 0%, 0%, 0.3 );
        -webkit-transition-property: width, height, top, left, -webkit-border-radius;
        -moz-transition-property: width, height, top, left, -moz-border-radius;
        -webkit-transition-duration: 0.1s;
        -moz-transition-duration: 0.1s;
    }

    .proxy-range.highlighted .handle {
        height: 98px;
        top: -35px;
        width: 4px;
        left: -3px;
        background-image: -webkit-gradient(linear, 0 top, 0 bottom, from( hsla( 0, 0%, 100%, 0.6 ) ), color-stop( 50%, hsla( 0, 0%, 100%, 0.0 ) ), color-stop( 50%, hsla( 0, 0%, 0%, 0.0 ) ), to( hsla( 0, 0%, 0%, 0.5 ) ) );
        border-radius: 3px;
    }




/******* Pygments *******/



pre {
    background: #111;
    color: white;
    padding: 0.8em;
    white-space: pre-wrap;
}


code .s1,
code .s {
    color: #78BD55;
}
/* string */
code .mi, /* integer */
code .cp {
    color: #5298D4;
}
/* doctype */
code .k {
    color: #E39B79;
}
/* keyword */
code .kd, /* storage */
code .na {
    color: #A9D866;
}
/* markup attribute */
code .p {
    color: #EDB;
}
/* punctuation */
code .o {
    color: #F63;
}
/* operator */
code .nb {
    color: #AA97AC;
}
/* support */

/* comment */
code .c,
code .c1 {
    color: #666;
    font-style: italic;
}

code .nt {
    color: #A0C8FC;
}
/* Markup open tag */

code .nf {
    color: #9EA8B8;
}
/* css id */
code .nc {
    color: #A78352;
}
/* CSS class */
code .m {
    color: #DE8E50;
}
/* CSS value */
code .nd {
    color: #9FAD7E;
}
/* CSS pseudo selector */
.container {
    width: 200px;
    height: 200px;
    position: relative;
    margin: 0 auto 40px;
    border: 1px solid #CCC;
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    -o-perspective: 1000px;
    perspective: 1000px;
}

#cube {
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: -webkit-transform 1s;
    -moz-transition: -moz-transform 1s;
    -o-transition: -o-transform 1s;
    transition: transform 1s;
}

    #cube figure {
        display: block;
        position: absolute;
        width: 196px;
        height: 196px;
        border: 2px solid black;
        line-height: 196px;
        font-size: 120px;
        font-weight: bold;
        color: white;
        text-align: center;
    }

    #cube.panels-backface-invisible figure {
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -o-backface-visibility: hidden;
        backface-visibility: hidden;
    }

    #cube .front {
        background: hsla( 0, 100%, 50%, 0.7 );
    }

    #cube .back {
        background: hsla( 60, 100%, 50%, 0.7 );
    }

    #cube .right {
        background: hsla( 120, 100%, 50%, 0.7 );
    }

    #cube .left {
        background: hsla( 180, 100%, 50%, 0.7 );
    }

    #cube .top {
        background: hsla( 240, 100%, 50%, 0.7 );
    }

    #cube .bottom {
        background: hsla( 300, 100%, 50%, 0.7 );
    }

    #cube .front {
        -webkit-transform: translateZ( 100px );
        -moz-transform: translateZ( 100px );
        -o-transform: translateZ( 100px );
        transform: translateZ( 100px );
    }

    #cube .back {
        -webkit-transform: rotateX( -180deg ) translateZ( 100px );
        -moz-transform: rotateX( -180deg ) translateZ( 100px );
        -o-transform: rotateX( -180deg ) translateZ( 100px );
        transform: rotateX( -180deg ) translateZ( 100px );
    }

    #cube .right {
        -webkit-transform: rotateY( 90deg ) translateZ( 100px );
        -moz-transform: rotateY( 90deg ) translateZ( 100px );
        -o-transform: rotateY( 90deg ) translateZ( 100px );
        transform: rotateY( 90deg ) translateZ( 100px );
    }

    #cube .left {
        -webkit-transform: rotateY( -90deg ) translateZ( 100px );
        -moz-transform: rotateY( -90deg ) translateZ( 100px );
        -o-transform: rotateY( -90deg ) translateZ( 100px );
        transform: rotateY( -90deg ) translateZ( 100px );
    }

    #cube .top {
        -webkit-transform: rotateX( 90deg ) translateZ( 100px );
        -moz-transform: rotateX( 90deg ) translateZ( 100px );
        -o-transform: rotateX( 90deg ) translateZ( 100px );
        transform: rotateX( 90deg ) translateZ( 100px );
    }

    #cube .bottom {
        -webkit-transform: rotateX( -90deg ) translateZ( 100px );
        -moz-transform: rotateX( -90deg ) translateZ( 100px );
        -o-transform: rotateX( -90deg ) translateZ( 100px );
        transform: rotateX( -90deg ) translateZ( 100px );
    }

    #cube.show-front {
        -webkit-transform: translateZ( -100px );
        -moz-transform: translateZ( -100px );
        -o-transform: translateZ( -100px );
        transform: translateZ( -100px );
    }

    #cube.show-back {
        -webkit-transform: translateZ( -100px ) rotateX( -180deg );
        -moz-transform: translateZ( -100px ) rotateX( -180deg );
        -o-transform: translateZ( -100px ) rotateX( -180deg );
        transform: translateZ( -100px ) rotateX( -180deg );
    }

    #cube.show-right {
        -webkit-transform: translateZ( -100px ) rotateY( -90deg );
        -moz-transform: translateZ( -100px ) rotateY( -90deg );
        -o-transform: translateZ( -100px ) rotateY( -90deg );
        transform: translateZ( -100px ) rotateY( -90deg );
    }

    #cube.show-left {
        -webkit-transform: translateZ( -100px ) rotateY( 90deg );
        -moz-transform: translateZ( -100px ) rotateY( 90deg );
        -o-transform: translateZ( -100px ) rotateY( 90deg );
        transform: translateZ( -100px ) rotateY( 90deg );
    }

    #cube.show-top {
        -webkit-transform: translateZ( -100px ) rotateX( -90deg );
        -moz-transform: translateZ( -100px ) rotateX( -90deg );
        -o-transform: translateZ( -100px ) rotateX( -90deg );
        transform: translateZ( -100px ) rotateX( -90deg );
    }

    #cube.show-bottom {
        -webkit-transform: translateZ( -100px ) rotateX( 90deg );
        -moz-transform: translateZ( -100px ) rotateX( 90deg );
        -o-transform: translateZ( -100px ) rotateX( 90deg );
        transform: translateZ( -100px ) rotateX( 90deg );
    }

#separateThis {
    height:30%;
}
